<div class="carga-card">
    <div class="area-carga">
        <div class="cont-titulo">
            <label for="text" class="txtcarga">Carga de datos</label>
        </div>
        <div class="contenedor-carga">
            <div class="img-carga">
                    <img src="assets/pictures/plus.png" alt="Plus" class="img-plus">
                <p class="paf">Arrastra los archivos<br>para subir</p>
            </div>
                
        </div> 
    </div>
    <div class="area-info">
        <div class="cont-titulo">
            <label for="text" class="txtinfo">Detalles de carga</label>
        </div>
        <div class="linea-azul"></div>
        <div class="detalles">
            <ul class="lista-detalles">
                <li class="item-detalle">Nombre archivo: dataset.csv</li>
                <li class="item-detalle">N filas: 700</li>
                <li class="item-detalle">N columnas: 10</li>
            </ul>
        </div>
        <div class="linea-azul"></div>

        <div class="contenedor-btnguardar">
                <button class="btn-guardar">Guardar datos</button>
        </div>
        
    </div>
</div>
