<div class="resumen-card">
    <div class="area-resumen">
        <div class="titulo-area">
         <label for="text" class="titulo">Ressumen</label>
        </div>
        <div class="contenedor-cards">
            <div class="card">

            </div>
            <div class="card">
            
            </div>
            <div class="card">
            
            </div>
        </div>
    </div>
    
    <div class="area-grafica">
        <div class="titulo-area">
            <label for="text" class="titulo">Graficos</label>
        </div>
        <div class="contenedor-graficos">
            <img src="assets/pictures/example.png" alt="ejemplo" class="imagen">
        </div>
    </div>
    
</div>
