<div class="login-card">


    
    <img src="assets/pictures/Cenel logo.png" alt="Logo" class="logo" />

    <div class="linea-azul"></div>

    <div class="contenedor-inputs">
          <input type="text" placeholder="Usuario" formControlName="username" required />

    
        <input type="password" placeholder="Contraseña" formControlName="password" required />
    </div>

    <div class="contenedor-checkbox">
        <label class="remember">
            <input type="checkbox" formControlName="remember" />
            Recordarme
        </label>
    </div>

    <div class="linea-azul"></div>
    
    <div class="contenedor-btnlogin">
        <button classtype="submit" class="btnlogin">Iniciar sesión</button>
    </div>
  
</div>