<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-card">

    <img src="assets/pictures/Cenel logo.png" alt="Logo" class="logo" />

    <div class="linea-azul"></div>

    <div class="contenedor-inputs">
        <!-- Input de Usuario con mensajes de error -->
        <input type="text" placeholder="Usuario" formControlName="username" />
        <!-- Contenedor de errores para el usuario -->
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-messages" [@errorAnimation]>
            <small *ngIf="username?.hasError('required')">El usuario es requerido.</small>
            <small *ngIf="username?.hasError('maxlength')">El usuario no puede exceder los 254 caracteres.</small>
        </div>

        <!-- Input de Contraseña con mensajes de error -->
        <input type="password" placeholder="Contraseña" formControlName="password" />
        <!-- Contenedor de errores para la contraseña -->
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-messages" [@errorAnimation]>
            <small *ngIf="password?.hasError('required')">La contraseña es requerida.</small>
            <small *ngIf="password?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</small>
            <small *ngIf="password?.hasError('maxlength')">La contraseña no puede exceder los 128 caracteres.</small>
        </div>
    </div>
    
    <!-- div error mensaje desde API -->
    <div *ngIf="apiError" class="error-messages api-error" [@errorAnimation]> 
      <small>{{ apiError }}</small>
    </div>

    <div class="contenedor-checkbox">
        <label class="remember">
            <input type="checkbox" formControlName="remember" />
            Recordarme
        </label>
    </div>

    <div class="linea-azul"></div>
    
    <div class="contenedor-btnlogin">
        <button type="submit" class="btnlogin" [disabled]="loginForm.invalid || loading">
            <!-- Mostramos un texto diferente si está cargando -->
            {{ loading ? 'Iniciando...' : 'Iniciar sesión' }}
        </button>
    </div>
  
</form>